.bg-hot-pink {
    background-color: #b340ff !important;
    color: white;
}

.bg-orange {
    background-color: #FF9800 !important;
    color: white;
}

.bg-red {
    background-color: #F44336 !important;
    color: white;
}

.bg-coral {
    background-color: #FF6F61 !important;
    color: white;
}

.bg-peach {
    background-color: #FFC1A1 !important;
    color: black;
}

.bg-blush {
    background-color: #FFE4E1 !important;
    color: black;
}

.text-hot-pink {
    color: #b340ff !important;
    font-weight: lighter;
}

.text-blue {
    color: #006eff !important;
    font-weight: lighter;
}

.btn-hot-pink {
    background-color: #b340ff !important;
    color: white;
    font-weight: lighter;
    border: none;
}

.btn-hot-pink:hover {
    background-color: rgb(112, 30, 119) !important;
}

.btn-blue {
    background-color: #006eff !important;
    color: white;
    font-weight: lighter;
    border: none;
}

.btn-blue:hover {
    background-color: #00367c !important;
}

/* Announcement box */
.announcement-embed {
    background-color: #3a3a3a;
    color: #ffffff;
    padding: 1rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    max-height: 50vh;
    overflow-y: auto;
    font-size: 1.4rem;
    font-weight: lighter;
    border-left: 5px solid #b340ff;
}

.announcement-embed::-webkit-scrollbar {
    /* Chrome, Safari, Edge */
    display: none;
}

.announcement-item+.announcement-item {
    border-top: 1px solid #555;
    padding-top: 1rem;
}


/* Navbar buttons */
.navbar .btn {
    margin-left: 0.5rem;
}

body {
    background-color: #2c2c2c !important;
    color: white;
}

.skewl-header {
    position: relative;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,
            #b340ff 0%,
            #7a50ff 25%,
            #006eff 50%,
            #7a50ff 75%,
            #b340ff 100%);
    background-size: 300% 300%;
    animation: loopGradient 15s ease-in-out infinite;
}

@keyframes loopGradient {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 100%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 0% 50%;
    }
}